<nav class="sidebar">
    <ul class="nav-menu">
        <li>
            <a href="#/main/home" class="nav-item">
                <span class="nav-icon"><img [src]="themeService.lightModeEnabled() ? '/assets/icons/home-light.png' : '/assets/icons/home.png'" class="icons"></span>
                <span class="nav-text">Home</span>
            </a>
        </li>
        <li>
            <a href="#/main/report" class="nav-item">
                <span class="nav-icon"><img [src]="themeService.lightModeEnabled() ? '/assets/icons/file-light.png' : '/assets/icons/file.png'" class="icons"></span>
                <span class="nav-text">Report</span>
            </a>
        </li>
        <li>
            <a href="#/main/analytics" class="nav-item">
                <span class="nav-icon"><img [src]="themeService.lightModeEnabled() ? '/assets/icons/chart-light.png' : '/assets/icons/chart.png'" class="icons"></span>
                <span class="nav-text">Analytics</span>
            </a>
        </li>
        <li>
            <a href="#/main/settings" class="nav-item">
                <span class="nav-icon"><img [src]="themeService.lightModeEnabled() ? '/assets/icons/settings-light.png' : '/assets/icons/settings.png'" class="icons"></span>
                <span class="nav-text">Settings</span>
            </a>
        </li>
    </ul>
</nav>
