<div class="home-page">
    @if(isScanning()) {
        <div class="shield">
            <img src="/assets/img/shield_on.svg" [class.shield-animate]="animateShield()" (animationend)="onShieldAnimationEnd()">
            <p>Real-time Scan is ON</p>
            <button (click)="toggleScanning()" class="btn1">Turn OFF</button>
        </div>
    }

    @else {
        <div class="shield">
            <img src="/assets/img/shield_off.svg" [class.shield-animate]="animateShield()" (animationend)="onShieldAnimationEnd()">
            <p>Real-time Scan is OFF</p>
            <button (click)="toggleScanning()" class="btn1">Turn ON</button>
        </div>
    }
</div>